---
extends: 'default'

ignore: |-
  *.sops.yaml

rules:
  braces:
    forbid: true
  brackets:
    forbid: true
  comments:
    level: 'error'
  comments-indentation:
    level: 'error'
  document-end:
    present: false
  document-start:
    level: 'error'
  empty-lines:
    max: 1
  empty-values: 'enable'
  indentation:
    check-multi-line-strings: true
    level: 'warning'
    spaces: 2
  key-ordering:
    ignore: |-
      # Keys are sorted based on the order they appear in documentation
      # rather than alphabetically.
      #
      # See also https://github.com/adrienverge/yamllint/issues/178.
      /.github/dependabot.yaml
      /.github/workflows/*.yaml
      /.markdownlint.yaml
  line-length:
    allow-non-breakable-inline-mappings: true
  octal-values: 'enable'
  quoted-strings:
    quote-type: 'single'
  truthy:
    check-keys: false
    level: 'error'
