---
extends: '.github/yamllint.yaml'

ignore: |-
  *.sops.yaml

rules:
  key-ordering:
    ignore: |-
      # Keys are sorted based on the order they appear in documentation
      # rather than alphabetically.
      #
      # See also https://github.com/adrienverge/yamllint/issues/178.
      /.github/dependabot.yaml
      /.github/workflows/*.yaml
      /.markdownlint.yaml
  line-length:
    allow-non-breakable-inline-mappings: true
